# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
ENV/

# Django specific
.env
local_settings.py

# IDEs and OS files
.vscode/
.idea/
__MACOSX/
.DS_Store
Thumbs.db

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
pyvenv.cfg